.login {
    display: flex;
    justify-content: center;
    color: #000000be;
}

.login > div {
    width: 100%;
    height: calc(100vh - 15rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login strong {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    margin: 2rem 0;
}

.login b {
    margin-top: 1rem;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
    text-align: center;
}

.login > div > div:nth-child(2) {
    padding: 1rem 1rem 0.01rem 1rem;
    border-radius: 0.5rem;
    background-color: #d8f5fd;
    width: 30rem;
}

.login form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.login input {
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 0.2rem;
}

.login #password {
    margin-bottom: 1rem;
}

.login button {
    padding: 0.5rem;
    font-family: Yantramanav,sans-serif;
    outline: none;
    background-color: #f85555;
    border: none;
    color: #ffffff;
}

.login > div > p:last-child {
    width: 100%;
    text-align: center;
}