* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App .container {
    padding: 7rem 0 0 0;
    min-height: 100vh;
    margin: 0;
    max-width: calc(100%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}